# required
NEXT_PUBLIC_NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
SECRET=92d1bd2779aebdf03f780efad7ae273a
DATABASE_URL=postgres://username:password@localhost:5480/dev

# not required
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_DB=dev
USERNAME_DB=username
PASSWORD_DB=password
SYNC_DB=dev
