.footer {
  position: static;
  bottom: 0;
  
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.navItems {
  
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}