.chartarea{
min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: left;
  background-color: rgb(255, 255, 255);

}

.mychart MyChart{
  top:20%;
  position: inherit;
  display: hide;
}

